[2018-12-07 13:09] djezzzl opened #7 "What's next?"
Hi guys, thank you for using this gem. I hope it helps you 👍

The purpose of this topic is to discuss what should be added next?

Possible features (random order):
- [ ] more detailed output in `DEBUG` mode
- [ ] generate migrations
- [ ] provide support for different ORMs
- [ ] accept list of files as arguments to check only them
- [ ] support `through` associations for `MissingIndexChecker`
- [

[2018-12-07 20:38] pancutan commented on #7
Thanks buddy, it's a useful and handy gem.

My only contribution to version 0.2.5

I take note that the gem alerts in legacy schemas, if the model uses another primary id than the default one provided by ActiveRecord, :id

In my case, I have a primary key declared as

[code]

The message is
```fail column id of table carreras of model Carrera is required but do not have presence validator```

Howe

[2018-12-08 13:45] djezzzl commented on #7
Hi @pancutan, thanks for your warm words.
It's strange because we have this check: https://github.com/djezzzl/database_consistency/blob/master/lib/database_consistency/column_verifiers/presence_missing_verifier.rb#L18.

Mostly, IDs should be generated by the database so we can avoid using `presence` validators on them. But in some cases application generates IDs, so it's better to have the validat

[2019-04-16 20:14] palkan commented on #7
Hey @djezzzl!

Gave this gem another try (btw, in Rails 6 - works fine 👍).

Found a couple of problems:

- Some models could have no DB tables.

Sounds strange, but that could happen, for example, if you have a gem with some _optinal_ models.
In my case that was `pg_search` gem and its `PgSearch::Document` model which we don't use.

To avoid the failure I marked it as abstract class (i.e. `PgSearc

[2019-04-16 20:27] palkan commented on #7
Also, a feature request: `ColumnLengthChecker`.

A typical situation is when you use `string` type in Rails migration, which is transformed into `varchar(255)` (for Postgres) and thus you need a `length: {maximum: 255}` validation (to avoid DB-level exceptions).

[2019-04-16 20:46] palkan opened #18 "Failure log when having functional indexes"
`bundle exec database_consistency` generates a failure log (just a file named `database_consistency_<date>_<and>_<time>`) containing the following line:

[code]

[2019-04-18 15:17] djezzzl commented on #18
Yes, this is a correct behaviour for errors implemented by `DatabaseConsistency::RescueError`. Thank you for creating an issue, I'm working on supporting `case_sensetive: false`.

[2019-04-18 16:48] djezzzl commented on #18
Fixed https://github.com/djezzzl/database_consistency/pull/19. Try 0.6.6 version.

[2019-04-18 16:48] #18 closed

[2019-04-18 16:53] palkan commented on #18
Thanks!

[2019-04-28 19:32] infojunkie opened #21 "Failure to find database table"
Your tool looks perfect for our purpose of finding data inconsistencies - thanks! However, when I run it, I get the following error:
[code]
Examining the existing parent models, I see:
[code]
which includes `PaperTrail::VersionAssociation` that the failure above is complaining about. However, this model is added by a 3rd-party gem and I would hate to debug through _their_ code to find what's wrong

[2019-05-01 11:07] djezzzl commented on #21
Hi @infojunkie, thank you for bringing this.

Could you please try to configure it as described [here](https://github.com/djezzzl/database_consistency/blob/master/rails-example/.database_consistency.yml).

In your case, adding
[code]
should help. Please let me know if it doesn't 👍

[2019-05-01 11:07] djezzzl commented on #21
I'll close issue for now because I think the solution above should help.

[2019-05-01 19:13] infojunkie commented on #21
Thanks for your response. Unfortunately, the crash is still happening. Looking at the stack trace, the crash occurs within ActiveRecord itself, when `ColumnsProcessor` lists the columns of the model at https://github.com/djezzzl/database_consistency/blob/38c3b2825c55cd9164d25dc2f6f12639e87115c5/lib/database_consistency/processors/columns_processor.rb#L15, even before it checks for the `enabled` fl

[2019-05-01 19:38] djezzzl commented on #21
Thank you @infojunkie, you're right. Could you please try latest version (0.6.7). Should be fixed there. https://github.com/djezzzl/database_consistency/commit/c7025bb3a50cbf0676c445966f5b4a86c4ce183f

[2019-05-01 19:38] #21 closed

[2019-05-01 19:49] infojunkie commented on #21
Thanks, the crash no longer occurs :pray:

[2019-05-05 12:33] djezzzl commented on #7
Hey @palkan, some of your requests are resolved in `0.6.8` version, to specify:
- Now you can disable any model and there will be no error like previously (even if it's not a real model at all).
- Compound indexes / polymorphic associations are supported not for `MissingIndexChecker`

Additional features:
- Colored output

Detailed output in `DEBUG` mode and `ColumnLengthChecker` will be addressed

[2019-05-16 13:48] stephendolan opened #23 "Unexpected exit codes"
Hi there,

First of all, thanks so much for this gem. It's going to be incredibly useful to our team for maintaining best practices. To that effect, I'm implementing it into our CI/CD pipelines, and noticed the following:

If there are no errors, the exit status is a failure:
[code]

If there are failures, the exit status is a failure:
[code]

Is there any way to either add a flag or default behav

[2019-05-18 13:40] djezzzl commented on #23
Hi @stephendolan,

Thank you for your kind words!

Let me investigate your problem, I'll fix it ASAP and will back to you.

[2019-05-19 21:18] djezzzl commented on #23
Hey @stephendolan, could you please try latest version (0.6.9)? The issue was resolved by this PR: https://github.com/djezzzl/database_consistency/pull/24/files#diff-38614b946b60ae29c3eb74cd1a9a8887R41.

[2019-05-19 21:18] #23 closed

[2019-05-20 10:16] stephendolan commented on #23
That works great! Thank you very much, @djezzzl !

[2019-06-20 06:02] 6temes opened #28 "LengthConstraintChecker with Integer and BigInt"
I am using Rails with Postgres and I get this errors for all my models:

[code]

In the schema, all those values are default `:bigint(8)` and `:integer`. Is it a good practice to add a validator for, for instance, the `ids`? I think it isn't.

By the way, for what I've seen, with Postgres, ActiveRecord defines the `sql_type_metadata` of BigInt as `#<ActiveRecord::ConnectionAdapters::SqlTypeMetadat

[2019-06-20 06:57] djezzzl commented on #28
Hi @6temes, thank you for pointing this out!

I also don't think it's right to check IDs. I'll fix it today and let you know 👍

[2019-06-22 15:48] djezzzl commented on #28
Hey, should be fixed in this PR: https://github.com/djezzzl/database_consistency/pull/29. Could you try latest version, please? Version: `0.7.1`. If it doesn't help please let me know.

[2019-06-22 15:48] #28 closed

[2019-06-23 23:53] 6temes commented on #28
Works great. Thank you!

[2019-07-05 08:28] matthieugendreau opened #30 "Checks fail with error due to association to non-existing model/table"
Hi,

I am using version 0.7.1 and `bundle exec database_consistency` is generating an error report that looks like this:

[code]

The source of the error is because I have an association is the user model to a model that has been deleted since (`has_one :old_table, dependent: :restrict_with_exception`).

Also would it be possible to return an exit code 1 when some checks fail with an error? I am c

[2019-07-05 12:58] djezzzl commented on #30
Hey, thank you for pointing this out!

Your both requests are addressed in https://github.com/djezzzl/database_consistency/pull/31:
- Ignore `MissingIndexChecker` when there is no associated model
- Exit with fail if some error occurs (so you can detect it on CI)

Please, update gem to latest version: `0.7.2`.

[2019-07-05 12:58] #30 closed

[2019-07-05 13:59] matthieugendreau commented on #30
Perfect thanks a lot!

[2019-07-23 08:25] stoivo opened #32 "Custom validatios"
Hi I install the tool today and founy 986 failures. Maybe some are false positive. Any way very nice tool. Found it from Evil Marintins notes. https://github.com/evilmartians/terraforming-rails

When I first ran it it failed. I open the gem to peak in.
We have a custom validator witch does not have an attribute.

[code]

I patched validators_processor.rb little and then it worked. I dont think thi

[2019-07-24 17:56] djezzzl commented on #32
Hey, thank you for pointing this out!

Yeah, I'll fix it ASAP and get back to you 👍

I'm glad that the tool helps you 👍

BTW, if you have any ideas or improvements, feel free to open an issue/PR.

[2019-07-24 18:12] djezzzl commented on #32
The issue was fixed. Please update to latest version: `0.7.3`.

[2019-07-24 18:12] #32 closed

[2019-07-30 14:27] stoivo commented on #32
Works like a charm. Thanks you very much for the tool and the amazingly quick fix.

[2019-07-30 14:45] djezzzl commented on #32
Great 👍 Thank you too!

[2019-08-01 22:21] EEtancelin opened #34 "Install success despite using Invalid Ruby 2.3.7 Version"
Sorry for the telegraphic style, following guess was the best way to be clear.

### When we :
run ```bundle exec database_consistency``` on ruby 2.3.7
### We got : an Error

```Did you mean?  match ```

### Because
 match? have been introduce in 2.4.0

### I was expecting :
An error at install time . As this version is not compatible and Ruby 2.3.7, [is not supported anymore](https://www.ruby-lang

[2019-08-02 06:51] djezzzl commented on #34
Thank you 👍  PR is merged.

[2019-08-02 06:51] #34 closed

[2019-08-12 23:13] nozpheratu opened #36 "Doesn't appear to work? False negatives."
It appears that all the validators are failing, even a very simple `null: false` column in my database is appearing as nullable and getting flagged by database_consistency.

I am using Rails v6.0.0.rc2 if it matters, along with the mysql2 v0.4.4 gem.

Here is an example:

Migration:
[code]

Schema:
[code]

And when I run the database consistency rake task, I get this:

[2019-08-13 12:13] djezzzl commented on #36
Hi, could you show how do you define your `User` class?

Basically, `column is required but there is possible null value insert` the error means, you have `null` constraint on the database level, but you don't have a `validate :uid, presence: true` on your model. So there is a chance you'll try to insert `null` value and get a database error as response.

With proper validation you'll avoid redund

[2019-08-13 16:18] nozpheratu commented on #36
Here's the model, as you can see I'm using devise:

[code]

The validatable module provides ass the necessary validations, but just to be safe, I also tried adding a:

[code]

But I met the same error.

[2019-08-14 06:59] djezzzl commented on #36
Hey, `email` field has nothing to do with `uid` field.
`fail User uid column is required but there is possible null value insert`.

Could you please provide more specific details (complete output for few models, schema for these models and the definition of those few models)? Because gem should work properly in that situation. It will be also cool if you give an example project which I could run a

[2019-08-17 12:51] stephendolan opened #37 "Support for official Rails 6 Release"
Thanks so much for this wonderful gem.

It looks like this isn't compatible with Rails 6 official that was released yesterday:
`spec.add_dependency 'activerecord', '>= 3.2', '< 6'`

Is this intentional? I've been running it with the RC1/RC2 releases without issue.

[2019-08-18 13:02] djezzzl commented on #36
Hey, please share the information I asked above. Until that, I'll close an issue because it seems for me that you handled a situation.

[2019-08-18 13:02] #36 closed

[2019-08-18 13:03] djezzzl commented on #37
Hi @stephendolan, thank you for kind words!

I'll fix this today 👍

[2019-08-18 13:21] djezzzl commented on #37
I just released a new version `0.7.4`. It should support Rails 6. Try it and if it doesn't help let me know, please.  Have a great time 👍

[2019-08-18 13:21] #37 closed

[2019-08-19 15:33] nozpheratu commented on #36
I realize those are two different columns. That was just a confusing example on my part, I'm also getting the following warning more relevant to my example (despite the validation):

[code]

My only model is the above User model. Here's the full schema:

[code]

[2019-08-20 06:43] djezzzl commented on #36
Oh, sorry, I just understood what is a problem:
`fail User uid column is required but there is possible null value insert.`

So, `devise` adds a `presence` validation on `email` field but with some condition (`if` or `else`) statement. So there is still some chance to try to insert `null` value.

If you try to play with your own `validates :email, presence: true`, i.e. put it before anything, in t

[2019-09-29 17:04] thomasdziedzic opened #39 "Confused by error message."
I have the following model:

[code]

and the following sql column:

[code]

When I run the gem, I get the error:

[code]

I'm confused because I have presence: true on the model and not null in the database, so it shouldn't be possible for a null value insert.

[2019-09-29 20:20] djezzzl commented on #39
Hey, thank you for pointing this out 👍

Could you please share `User._validators[:email]`?

I think the error can be because of the way we check validators. I think you have few `presence` validators on `email` column and some of them have `if`/`unless` conditions.

The fix to "group" similar validators can take some time and before I'd like to be sure that we should do that or not.

[2019-09-29 20:42] thomasdziedzic commented on #39
Here is the output:

[code]

[2019-09-29 20:48] djezzzl commented on #39
So I was right, you have many presence validators and some of them have conditions, so when we iterate through all validators and check specific one, we see it has conditions, so we decide to show a warning.

As quik fix I'm suggesting you to disable this check for `email` column of your model using configurations. In the meaning time, I'll try to fix it in the gem next week. It will require a lot

[2019-09-30 00:10] thomasdziedzic commented on #39
Thank you for your time!

[2019-10-06 07:38] KieranP opened #40 "Can't get it to work"
Can't seem to get this gem to work on Rails 6. I have a mailbox model with a locale field, that has not null constraint on the DB but no presence validation.

[code]

[code]

[code]

[code]

That's all it gives, some stuff about webpacker. No fail that mailbox doesn't have presence validation for locale. This is just one case. I have many other issues I was hoping this gem would find, but doesn't

[2019-10-06 08:47] djezzzl commented on #40
Hey, thanks you for reaching out. I'll try to help you 👍

First of all, gem should work with Rails 6+: https://github.com/djezzzl/database_consistency/blob/master/.circleci/config.yml#L111.

Second, could you please say what is returning code of `bundle exec database_consistency`?
[code]

Third, could you please check your working directory if it has any file with `database_consistency` as a prefi

[2019-10-06 19:49] KieranP commented on #40
Exit code is 0:

[code]

No database_consistency file exists:

[code]

[2019-10-07 08:14] djezzzl commented on #40
Hey, the situation is very interesting and I really want to help you.

So, could you please debug a bit? There is a processor for you `locale` field: https://github.com/djezzzl/database_consistency/blob/master/lib/database_consistency/processors/columns_processor.rb.

You could make it to be like:
[code]

If you have a chance, we also can have a call to debug it together. Or you could your app if

[2019-10-08 04:04] KieranP commented on #40
@djezzzl I put a `p` line at the top of the check method to make sure it was being called. the result:

[code]

It appears that check method being called, but `Helper.parent_models` returning empty. Further debugging shows that `ActiveRecord::Base.descendants` is returning an empty array.

If I turn my `config.eager_load` to true in development.rb enviroment file, then the whole gem works as expec

[2019-10-08 07:03] djezzzl commented on #40
Hey, very nice catch 👍

Could you please try this in `bin/database_consistency`?
[code]

If it works, I'll release a fix like that.

[2019-10-09 03:35] KieranP commented on #40
@djezzzl Doesn't work. I think by the time it gets to those lines, Rails (or more specifically Zeitwerk) has already determined that eager loading isn't needed.

This works instead:

[code]

[2019-10-10 07:02] djezzzl commented on #40
Hey, thank you. I'll consider your approach and release a new version soon 👍

[2019-10-12 17:04] djezzzl commented on #40
Hey, could you please try version `0.7.5` and let me know if it still doesn't work. Thank you 👍

[2019-10-12 17:04] #40 closed

[2019-10-13 19:55] KieranP commented on #40
@djezzzl Yup, working well now. Thanks

[2019-10-20 13:36] AlexeyMatskevich commented on #7
Hello, how about adding support [citext](https://www.postgresql.org/docs/9.1/citext.html)? The gem is currently checking for availability lower(attribute) index, but use this index have some problem in rails, `citext` more comfortable solution to the problem case insensitive indexes.

[2019-10-30 11:02] sinankeskin opened #42 "Checks has_many, has_and_belongs_to_many wrongly"
First of all thank you for the amazing tool.

I have a model like;

[code]

and also I have a model,
[code]

When I check it shows;

[code]

In my case ListingItem and Location models have FKs for Listing and join table for PaymentMethod also has a FK for FinanceInfo.

I believe this checks should be working only belongs_to relationships but it shows for has_many and has_and_belongs_to_many relati

[2019-12-16 17:04] djezzzl commented on #39
Hey, sorry for making you wait so long! I hope you still use the gem.
[This PR](https://github.com/djezzzl/database_consistency/pull/43) should fix your problem, could you please check and share results with me? (It was already released with latest version`.0.7.6`) Thank you! Have a great time!

Feel free to reopen an issue if still stays.

[2019-12-16 17:04] #39 closed

[2019-12-16 17:06] djezzzl commented on #7
Hey @AlexeyMatskevich , could you please help me to understand where you suggest to support it? For what kind of checkers? Where do you have issues right now?

[2019-12-16 17:06] #7 closed

[2020-01-20 11:11] panbanda opened #45 "HABTM Native Functionality Not Valid"
I am getting this error for a basic model that has a standard HABTM association.  This requires me to manually specify the model instead of using the Rails built in methods.

[code]

For example:

[code]

This fails because the join table has a `null: false` in the migration but the generated join model in Rails doesn't have the `validates :article_id, presence: true` validation.

Suggestion: Mayb

[2020-01-22 06:52] djezzzl commented on #45
Hey @panbanda,

For now, I'd suggest you to disable this check for this particular model using our configuration.

Am I right that you don't have model `ArticlesCategory`, if so, then you're right, we probably should skip that check at all. Or maybe, you can create that model even if it will be almost empty, and add those validations there.

[2020-01-22 06:54] panbanda commented on #45
Yes I don't have that model in my source as its behind the scenes magic.  I didn't know I could disable a check for a particular model.  I'll have to look that up thanks.

[2020-01-22 06:56] djezzzl commented on #45
Yes, you can 👍

https://github.com/djezzzl/database_consistency/blob/master/rails-example/.database_consistency.yml

[2020-01-29 14:45] djezzzl commented on #42
Hi @sinankeskin,

I'm glad that the tool helps you!

I'd disagree here with you, because even your connection is optional, meaning there can be 0 `listing_items` or `locations`, it still worth and possible to have foreign key constaint in the database.

If one day, by accident, you will remove `Listing` item which has some `Locations`, with FK it won't happen until you clean those `locations`. Wit

[2020-01-29 14:57] djezzzl commented on #45
Hey,

I've just released a fix for configuration checker (0.7.7). Please have a look on it and the FAQ (https://github.com/djezzzl/database_consistency/blob/master/FAQ.md).

You can now disable that model from checks.

Let me know if it doesn't help you. Have a great day 👍

[2020-01-29 14:57] #45 closed

[2020-01-29 19:16] sinankeskin commented on #42
What I mean by that is, in my scenario you should check the listing item model for FKs not the listing model.

And as I wrote before I have FKs in my database for listing item and I'm still seeing the `fail Listing listing_items model should have proper foreign key in the database` error.

[Here](https://i.ibb.co/Jt9knDM/fk.png) is the screen shot of dbeaver.

Thank you.

[2020-01-30 07:28] djezzzl commented on #42
Hey,

Understood. May I ask you to share few things, please, so I can reproduce and understand what's happening?

I need:
- Schema of Listing model table (including FKs)
- Schema of ListingItem model table (including FKs)
- Definition of associations in both models

Unfortunately, I can barely see anything on your previous screenshot, please provide a data with better quality.

Thank you!

[2020-01-30 11:31] sinankeskin commented on #42
Hi.

I can't show you my table schema but I've created a brand new rails application [repo](https://github.com/sinankeskin/database_consistency_test) and moved my 2 tables to in it (of course, by simplifying it).

I could reproduce the see same message.

It's using postgresql as a database and after bundling you should use rails db:schema:load.

Thank you.

[2020-02-02 13:38] djezzzl commented on #42
Hey, thank you for your example. I've found the problem and you're precisely right. I'm working on fix now.

[2020-02-02 13:54] djezzzl commented on #42
Hi, the fix was just released: 0.7.8. Could you please try it out and say if it helps?

Thank you for participation to make the gem better! Very appreciated!

[2020-02-02 13:54] #42 closed

[2020-02-02 14:27] sinankeskin commented on #42
Hi. I can confirm that, message disappeared now.

Thank you for the great tool and amazing effort.

[2020-02-02 15:28] djezzzl commented on #42
Great, thank you!

P.S. If you have any ideas/requests what else we can potentially check, I'd be happy to implement.

Have a great day 👍

[2020-02-24 14:19] fidalgo opened #50 "Check for IDs and foreign keys using Integers instead of BigInt"
As reported on a similar project:
https://github.com/gregnavis/active_record_doctor/issues/38

Given no one is immune to it https://m.signalvnoise.com/update-on-basecamp-3-being-stuck-in-read-only-as-of-nov-8-922am-cst/

and there's a lot of people using Rails from prior this https://github.com/rails/rails/pull/26266

So a check for it would be awesome!

[2020-02-24 14:27] djezzzl commented on #50
Hi @fidalgo , thank you for your suggestion!

We will definitely add it 👍

[2020-03-02 10:50] djezzzl commented on #50
Hey, keeping you posted. https://github.com/djezzzl/database_consistency#primarykeytypechecker was just released with version `0.8.0`. Soon I'll add `ForeignKeyTypeChecker`.

[2020-03-02 11:03] fidalgo commented on #50
thanks @djezzzl Amazing work, I will test it soon.
Also you've messed with the links here: https://github.com/djezzzl/database_consistency/pull/51/files#diff-04c6e90faac2675aa89e2176d2eec7d8R153
(both links to rails PR, when I think you should meant for https://m.signalvnoise.com/update-on-basecamp-3-being-stuck-in-read-only-as-of-nov-8-922am-cst/)

[2020-03-02 12:03] djezzzl commented on #50
Yeah, thank you! I'll update it.

[2020-03-16 11:16] goulvench opened #52 "Ignore Rails 6 warnings concerning ActionText and ActiveStorage models"
Hi, thanks for the useful gem!

I'm using Rails 6.0.2.1 with ActiveStorage and ActionText (I don't think I did anything special during my Rails install), yet database_consistency reports the following failures:

[code]

I ignored them by adding the following code to my .database_consistency.yml but I'm thinking that this could be added to a generator, or to the [Rails6 example](https://github.com/

[2020-03-19 10:00] djezzzl commented on #52
Hey, thank you for your kind words! Very glad the gem helps you 👍

I think, we could have a setup script for the gem which just creates a basic configuration example with some pre-defined rules which may be edited on demand.

Do you want to do that? If you don't have time, we can just add these configurations to an example as you suggested 👍 (you may also do that simple PR if you want, just let me

[2020-03-19 10:01] djezzzl commented on #52
I'll close issue for now. We can continue discussion, of course 👍

[2020-03-19 10:01] #52 closed

[2020-04-22 11:12] dmytro-savochkin opened #53 "A way to exclude some fails on per-file basis?"
Hello.
This is a nice gem and I'd like to try it in our project. However as it turned out we have quite many fails. Because of that we would like to have some way to mark them all excluded (similar to rubocop_todo.yml) and integrate this gem into our CI tool so we can fix them later one by one. This approach would ensure we don't introduce new fails while we are fixing the old ones. Unfortunately

[2020-04-22 11:30] djezzzl commented on #53
Hey, thank you for using it.

Yes, there is way to configure it, you probably skip. Please have a read https://github.com/djezzzl/database_consistency#configuration. There are examples inside how to disable the whole model.

If it doesn't help, please let me know and reopen the issue. For now, I close it.

[2020-04-22 11:30] #53 closed

[2020-04-22 11:55] dmytro-savochkin commented on #53
Wow, missed it for some reason, thanks!

[2020-04-22 12:11] djezzzl commented on #53
No problem! Have a great day!

[2020-05-07 12:29] goulvench commented on #52
I've looked at adding a generator but nothing worked (then got side-tracked by other work). I've added a PR to add the settings to the example, for starters.

I'm looking at generators again, will send a PR if I find a way to make this work.

[2020-06-04 07:50] bobmaerten opened #56 "Consider adding Numericality validator to NullConstraintChecker?"
Hi, and first of all thanks for this gem, we had tremendous amount of alerts fixed in our codebase.

According to [Rails documentation](https://guides.rubyonrails.org/active_record_validations.html#numericality), `numericality` does not allow nil values by default. In our validations, we omit the presence validator in favor of numericality but `database_consitency` report a missing presence if the

[2020-06-09 07:03] djezzzl commented on #56
Hi @bobmaerten, thank you for your kind words! I'm glad that gem is useful for you!

That should very simple, you just need to add one more rule to that checker to see if there is any `NumericalValidator` on that column with `allow_nil: false`.

Let me know if you don't have time for that, so I can do it myself 👍

[2020-06-10 07:26] bobmaerten commented on #56
Glad to contribute to a tool we use.

[2020-06-17 16:38] yao0204 opened #58 "false positive for validation with condition"
Hi, it seems it will check the validation even though we have a condition
Like this

```validates :code, presence: true, on: :update```

It fails even though it validates only on update.

Is it a known/wanted behavior?

Thanks

[2020-06-19 14:08] yao0204 opened #59 "False positive for unique index"
Hi, we recently encountered this problem:

in the code we have the following, and package_type is a relation
[code]
And in the database, we have the unique index
`index_blacklist_zipcodes_on_package_type_id_and_zipcode  (package_type_id,zipcode) UNIQUE`

But the gem does not recognize it, because in the validation, we didn't write `package_type_id`

Do you think this can be something easy to fix?

[2020-06-20 12:18] #56 closed

[2020-06-20 14:27] djezzzl commented on #56
Hey, thank you for your contribution! Please try out version `0.8.2` and check if it works for you as expected 👍

[2020-06-20 14:32] djezzzl commented on #58
Hey, thank you for bringing this up!

I agree with you that we shouldn't require a `non-null` constraint for such cases. Although, I'm not sure which context we can ignore and which not. I didn't use them much. What are default context which covers all CRUD ActiveRecord persistence actions? Probably, just `update` and `save`?

BTW, Do you want to contribute to the gem or you want me to implement t

[2020-06-20 14:39] djezzzl commented on #59
Hi, thank you for reaching out with the issue!

I think you can fix it by changing
`validates :zipcode, uniqueness: { scope: [:package_type] }` to
`validates :zipcode, uniqueness: { scope: [:package_type_id] }`

According to [the Rails docs](https://guides.rubyonrails.org/active_record_validations.html#uniqueness) `scope` should be an attribute.

Please try it out and let me know if it doesn't hel

[2020-06-20 14:39] #59 closed

[2020-06-22 09:49] yao0204 commented on #59
Hi,
Indeed changing it to `_id` does work.
But it would be nice if we could support both. I feel it's a bit redundant to write out the id when it's a relation.
Thanks a lot

[2020-06-22 11:29] bobmaerten commented on #56
Removed all `presence` + `numericality` patterns upon our models with success. Thanks again for this precious gem.

[2020-06-24 13:23] djezzzl commented on #59
Hey, could you please try version `0.8.3` and let me know if it doesn't work for you.

[2020-06-24 13:24] djezzzl commented on #58
Hey, could you please try version 0.8.3 and let me know if it doesn't work for you.

Thank you again!

[2020-06-24 13:24] #58 closed

[2020-06-30 13:58] Ayliane opened #61 "False positive on array length"
Hello,

So I have this model with an array field like this :

`t.string "content", limit: 255, array: true`

It causes the length validator to raise, but it's not correct, since the database validation is that every element of that array isn't bigger than 255, not the array itself. Is this behavior wanted ? I think that the only way to validate this is to have a custom validator, and i'm not sure

[2020-07-04 09:28] djezzzl commented on #61
Hi @Ayliane,

Thank you for pointing this out! Could you please try version `0.8.4` and see if it works fine for you now?

Feel free to re-open the issue if it still fails when it shouldn't.

[2020-07-04 09:28] #61 closed

[2020-09-21 19:17] djezzzl commented on #50
Hi @fidalgo, letting you know that I finally found some time (just excuses 😄 ) and implemented [ForeignKeyTypeChecker](https://github.com/djezzzl/database_consistency#foreignkeytypechecker).

As [PrimaryKeyTypeChecker](https://github.com/djezzzl/database_consistency#primarykeytypechecker) was already shipped many months ago, I believe we can close the issue. Please let me know if you have any idea

[2020-09-21 19:17] #50 closed

[2020-09-22 06:24] legendado opened #64 "Version 0.8.5 raise error"
Hello, after bump version to `0.8.5` I've an error:
[code]

[2020-09-22 06:28] djezzzl commented on #64
Hi, thank you letting me know!

Could you please share your database version and active record version?

[2020-09-22 06:31] legendado commented on #64
Sure
database: `postgres 12`
activerecord: `6.0.3.3`

[2020-09-22 06:48] tdeo commented on #64
Hi, running into the same problem here,
I could track it down first when using custom association keys as symbols, and on this line :
https://github.com/djezzzl/database_consistency/blob/v0.8.5/lib/database_consistency/checkers/association_checkers/foreign_key_type_checker.rb#L78

`column.name` is a string but column_name is a symbol, so `find` returns nil

After changing it to `find { |column| co

[2020-09-22 07:11] djezzzl commented on #64
Thank you, so I'll fix today a finder and remove "through" associations from supporting

[2020-09-22 08:38] djezzzl commented on #64
Hey guys, I've provided a fix for both problems (at least AFAIU) https://github.com/djezzzl/database_consistency/pull/65. It's already merged and released as `0.8.6`. Please try it out and let me know if that helps.

BTW, I couldn't reproduce both issues locally, could you please give me a little bit more context so I can write a regression test?

[2020-09-22 08:38] djezzzl commented on #64
Feel free to reopen the issue if needed 👍

[2020-09-22 08:38] #64 closed

[2020-09-22 10:24] tdeo commented on #64
I imagine a test for has_many_through would look like this (don't have the DB setup locally so can't run it though)
[code]

and with custom symbol foreign_key :
[code]
[code]

[2020-09-23 15:07] denys-husiev opened #68 "foreign_key_type_checker error"
Hello, after updating to `0.8.6` I got the following error:

`Hey, some of checks fail with an error, please open an issue on github at https://github.com/djezzzl/database_consistency.
Attach the created file: database_consistency_2020_09_23_17_30_48`

The content of file is:

`
<===begin===>
[1mTraceback[m (most recent call last):
	24: from /Users/user/.rvm/gems/ruby-2.7.1@my_project/bin/ruby_e

[2020-09-23 15:11] djezzzl commented on #68
Hi, thank you for letting me know. It's known issue, could you please try latest version and let me if it didn't help.

[2020-09-23 15:12] djezzzl commented on #68
Feel free to reopen the issue if needed.

[2020-09-23 15:15] denys-husiev commented on #68
after updating to `0.8.7` I still have the same issue (the only change is that row shifted to 101)

`
<===begin===>
[1mTraceback[m (most recent call last):
	24: from /Users/user/.rvm/gems/ruby-2.7.1@my_project/bin/ruby_executable_hooks:24:in `<main>'
	23: from /Users/user/.rvm/gems/ruby-2.7.1@my_project/bin/ruby_executable_hooks:24:in `eval'
	22: from /Users/user/.rvm/gems/ruby-2.7.1@my_project/

[2020-09-23 15:19] djezzzl commented on #68
Then I need a little bit more context, could you please debug it and give the context how the association (which raises such issue is defined)? Let me please know if you need a help to track it

[2020-09-23 15:31] denys-husiev commented on #68
If you have some practice of how to find the association which causes the error, it would be helpful

[2020-09-23 15:38] djezzzl commented on #68
Yes, on the method "type" where checker does "sql_type" add "p association if column.nil?" before, that should help to understand which association fails

[2020-09-23 20:27] denys-husiev commented on #68
I found model which caused an error (and I think it's default implementation of Rolify gem):

- association:
`
#<ActiveRecord::Reflection::HasAndBelongsToManyReflection:0x00007fcca75de2f8
 @active_record=
  User(id: integer, first_name: string, last_name: string, sign_in_count: integer, current_sign_in_at: datetime, last_sign_in_at: datetime, current_sign_in_ip: inet, last_sign_in_ip: inet, create

[2020-09-23 20:38] djezzzl commented on #68
Thank you! I'm looking into it and will try to provide a fix ASAP.

[2020-09-24 21:16] djezzzl commented on #68
Hey @denys-husiev , I believe I have fixed it in `0.8.8`. Could you please try it out and let me know if it still has the issue? Feel free to reopen the issue.

[2020-09-24 21:16] #68 closed

[2020-09-24 21:23] denys-husiev commented on #68
Hi @djezzzl , error disappeared. Thank you very much for your work and such quick reaction!

[2020-09-25 06:09] djezzzl commented on #68
Thank you too!

[2020-10-26 23:50] uxxman opened #71 "Error in v 0.8.8"
Rails: 6.0.3.4
Postgres: 12.4

[code]

[2020-10-29 14:43] djezzzl commented on #71
Hey @uxxman , thank you for reporting an issue.

The issue is the following:
[code]
Which means the model `Favorite` has no `primary key`.  Was it intentional in your project?

In the meantime, I'll skip reporting such issues in the library.

[2020-10-29 14:51] uxxman commented on #71
Hi @djezzzl, Thanks for looking into this.

Its of a joining table, so instead of indexing primary key along with the composite key and keeping two indexes, I just have

[code]

[2020-11-03 17:41] chubchenko opened #72 "Reserved word and uniqueness validation"
First of all, I want to say thank you for this gem!!!

We found an issue where the column name is equal to a reserved word and we have to add an index to make it unique.

[code]

It looks like the problem occurs during the following comparison:

[code]
which equals
[code]

[2020-11-09 13:00] djezzzl commented on #72
Hey @chubchenko , thank you for pointing this out! And for using the gem, of course!

I'm not sure how smart should we be here, but I guess it would be fine if compare assuming that value can be casted at any type. So, I'll try to fix it ASAP 👍

[2020-11-09 14:01] djezzzl commented on #72
The fix is here: https://github.com/djezzzl/database_consistency/pull/73. I'll release it probably today (with some other improvements).

[2020-11-11 10:06] djezzzl commented on #71
Hey @uxxman,

I'm looking closely at all 3 cases of yours:

* 1 and 2 are about the same thing, some or your associations is broken because it requires to have `primary_key` on model `Favorite` but you don't have it in the schema.
* 3 case is kind of the same (one association is broken): `Association (country) of class (Users::Customer) relies on field (id) of table (public.countries) but it is mi

[2020-11-12 00:25] uxxman commented on #71
This is also a special case in which primary_key of the table is 'code' so instead of having 1,2,3 in Users:Customer I have DE,BE,NL.

[code]

[2020-11-12 07:21] djezzzl commented on #71
Are you saying that `Users::Customer.first.country` works just well, right?
Could you please share then how the association is defined on `Users::Customer`?

[2020-11-12 16:44] uxxman commented on #71
Yes

[code]

The countries tables just maintains the list of supported country codes and in associations, instead of having an integer ID we use CountryCode, this way eliminates the need of loading countries when we want to show the country_code of an association.

[2020-11-16 07:04] djezzzl commented on #72
Hey, I just released `0.8.9`, please try it out and let me know if it didn't help. Feel free to reopen the issue if needed.

P.S. Sorry it took me so long to release.

[2020-11-16 07:04] #72 closed

[2020-11-18 16:38] bencallaway opened #74 "Unhandled exception in ForeignKeyTypeChecker"
I encountered a couple of errors when running the latest update of database_consistency

ruby 2.6.6p146
rails 5.2.4.4
database_consistency 0.8.9
postgresql 12.4

The errors pertain to associations from a table-backed model to two *view-backed* models
`Association (import_member) of class (ImportRow) relies on field (id) of table (import_members) but it is missing. (DatabaseConsistency::Errors::Mis

[2020-11-18 18:13] djezzzl commented on #74
Hey @bencallaway , thank you for pointing this out!

I'm not sure I understand the case, could you please share some more information, like:
- How `import_member` association is defined in class `ImportRow`
- Confirm if `ImportRow.first.import_member` works perfectly for you
- Show how `ImportRow` class table is defined on schema
- Show how `import_members` table is defined on schema

I'd very app

[2020-11-18 21:55] djezzzl commented on #71
Hey, could you please try `0.8.10` and say if you still  have any errors?

[2020-11-18 21:55] djezzzl commented on #71
Feel free to reopen the issue if you still have.

[2020-11-18 21:55] #71 closed

[2020-11-18 21:56] djezzzl commented on #74
Im the meantime, could you please also try version `0.8.10`? Feel free to reopen the issue if still stays.

[2020-11-18 21:56] #74 closed

[2020-11-20 13:18] bencallaway commented on #74
Thanks for the feedback and the fix @djezzzl. `0.8.10` did in fact fix my issue. It was on account of my using a custom private key `email` as opposed to `id` in this case. The fact that my associated models were based on database views was irrelevant after all. Working with `0.8.11` now, and it is running smoothly

[2020-11-22 19:38] djezzzl commented on #74
So glad to hear that!

BTW, feel free to suggest any features if you have any in your mind 👍

[2020-11-26 13:45] Berardpi opened #77 "UniqueIndexChecker"
Hi @djezzzl!
Thx for the gem

I was wondering if it would be possible to add the inverse of MissingUniqueIndexChecker, i.e. a way to detect unique index constraint which are present in the schema but missing in the model. Is this something that can be added?

I can look into it and work on a PR if that's something you'd be willing to merge, but I'd appreciate some pointers.

Thanks!

[2020-11-30 05:50] djezzzl commented on #77
Hey @Berardpi , I'd very welcome such feature. Feel free to implement it and ask for any help you need 👍

[2020-12-02 11:46] Berardpi commented on #77
Thanks @djezzzl, I've submitted #78. Feel free to request changes!

[2020-12-03 07:50] djezzzl commented on #77
Thank you for the PR! I'll have a look ASAP. I'll close the issue so we can discuss everything in the PR from now.

[2020-12-03 07:50] #77 closed

[2021-07-29 22:44] mockdeep opened #86 "Issue with custom foreign key"
`database_consistency` reports an error with one of our model relationships:

[code]

Error:

[code]

Happy to provide any additional information that might help debugging. These models are heavily used in our application, so I'm confident they are working.

[2021-07-29 23:07] mockdeep opened #87 "display check_name for errors"
I know setting `DEBUG` displays check names, but it would be nice if I could see only errors along with the check name. One thing I'm trying to do is selectively disable the checkers that are failing and gradually re-enable them as we correct issues in our schema. It's a little challenging to tell *which* checker is failing, though, so it's hard to know which one to disable.

[2021-07-30 15:39] djezzzl commented on #87
Hi @mockdeep, thank you for using the gem!

Could you please show by examples what do you mean as I'm not sure I understood the issue?

[2021-07-30 15:42] djezzzl commented on #86
Hi @mockdeep, thank you for reporting the issue!

Could you please show what SQL query outputs the following command in console for you? Also, please share if that is working as expected by you.

[code]

[2021-07-30 17:01] mockdeep commented on #87
@djezzzl I'm hoping to set up `database_consistency` to run on CI, but there are almost 100 violations currently. I would like to disable the checks that are failing for now and then we can gradually re-enable them. For example, here's a handful of messages:

[code]

I would like to disable the checks associated with these failures, but I don't know the names. It would be nice if the output instea

[2021-07-30 17:04] mockdeep commented on #86
Ah, nevermind! We don't use the inverse relationship, so that didn't work. It should have been:

[code]

[2021-07-30 17:04] #86 closed

[2021-08-03 13:01] djezzzl commented on #86
Yes, that's what the error was about =)

[2021-08-03 13:02] djezzzl commented on #87
I see. I think we can change that 👍

[2021-08-03 13:39] djezzzl commented on #87
Hey 👋 ,

I've just released `1.1.2`. Could you please try it out and say if that helps you? Feel free to reopen the issue if necessary.

[2021-08-03 13:39] #87 closed

[2021-10-08 11:57] pirj opened #89 "citext false positive"
Hey @djezzzl ! :wave:

I have the following in `db/schema.rb`:
[code]
Model:
[code]

`database_consistency` complains:
[code]

`psql mydb`:
[code]

PostgreSQL `citext` extension docs: https://www.postgresql.org/docs/current/citext.html

I've debugged it, and:
[code]
:boom:

Does it make sense to remove/ignore `lower(` from the index column if this column's type is `citext`?

`database_consistency`

[2021-10-12 12:43] pirj opened #90 "`belongs_to ... optional: false` with no `NOT NULL` column is not detected"
Hey @djezzzl ! Me again :smile:

Database consistency is missing (unless I'm missing something among a ton of things that it does detect) if an FK column is not marked as `null: false` (NOT NULL) in the DB schema, while it's `belongs_to` without `optional: false`.
`optional: true` became the default in Rails 4.2 if I'm not mistaken.

[code]
[code]

[code]
:boom:

I'll be happy to contribute such a

[2021-10-13 15:15] djezzzl commented on #90
Hello @pirj,

Glad to hear you! You're right, we don't have such checker yet and I believe it would be amazing to have one.

Could you please do it then? I'd be happy to help if you would need any 👍

[2021-10-14 09:44] pirj opened #91 "Idea: Replace `dependent: :delete`/`dependent: :nullify` with FK `on_delete:`/`on_update:`"
Hey @djezzzl ! :wave:

Cascade deletion is sometimes a very expensive operation.
In case the association is defined as `dependent: :delete`, it is possible to rely on the database to perform the deletion instead.
See [`:on_delete`/`:on_update`](https://api.rubyonrails.org/v6.1.4/classes/ActiveRecord/ConnectionAdapters/SchemaStatements.html#method-i-add_foreign_key).

Disclaimer: I clearly understa

[2021-10-18 22:29] yld opened #93 "false MissingIndexChecker report on double column unique index with a through on join object."
Sorry if i'm wrong but...

With the following models:

[code]

After adding a unique index on 2 columns
[code]

Then i get:

`MissingIndexChecker fail Thing rules associated model should have proper index in the database
...
`

Running Postgresql EXPLAIN show the defined index is used as expected.

First i extracted the has_many through SQL:

[code]

Then i checked that defined index were correctl

[2021-10-21 21:15] djezzzl commented on #93
So far, I can't understand why that index is being used for such a query.

Official docs say:
[code]
from https://www.postgresql.org/docs/9.6/indexes-multicolumn.html.

Could you please share the entire `/d rules` from your `psql` console?

P.S. `%i[user_id, thing_id],` has a typo as "comma" is redundant but I think your shared that just for an example.

[2021-10-23 18:01] pirj opened #94 "Repurpose BelongsToPresenceChecker to check for foreign key presence in the DB"
### Problem

`BelongsToPresenceChecker` shouldn't care if an association has `required: true` because any non-polymorphic `belongs_to` should have foreign keys and nulls are okay with that.

We have to rename the checker as it simply does slightly different than "`belongs_to` presence".

### Suggested approach

1. Make `BelongsToPresenceChecker` to be derived from `AssociationChecker` and check if

[2021-10-23 18:13] pirj opened #95 "Check that `belongs_to` defines an unconditional presence validator if the link column is required in the DB"
Expand `NullConstaintChecker` so that if a link column (e.g. `user_id`) is required in the database, then the `belongs_to` association should be `required: true`/`optional: false` (an unconditional presence validation is defined).

This is a counter version enhancement for the suggested change in [#90](https://github.com/djezzzl/database_consistency/issues/90#issuecomment-950190091) and implemente

[2021-10-25 10:11] #90 closed, assigned to nobody

[2021-10-26 10:00] mpapis opened #98 "enum + validation consistency check"
Hi :)

I've got quite few enum's in database and I've found few instances when the Rails enum was not set to include all DB enum values, this lead to reading the field as `nil` in case the value was missing in Rails enum.

Example:
 - schema: `t.column "type", "enum('STONE','TREE')", default: "STONE"`
 - model: `enum type: { "STONE" => "STONE", "TREES" => "TREES"], _prefix: :type`
 - validation: `

[2021-10-26 18:56] #94 closed, assigned to nobody

[2021-10-28 14:55] pirj opened #100 "Recommend citext for `case_sensitive: false` validated fields"
Does it make sense to do so?

https://www.postgresql.org/docs/13/citext.html has a good rationale for using citext. It's a useful feature for columns like, e.g. emails.

Regarding performance - should be faster compared to LOWER() indexes:

:question: How to detect when a column is a good candidate for `citext`?

[2021-10-31 16:00] djezzzl commented on #93
Hey @yld, I need slightly more time with this issue as I can't so far understand why it's working like that. I'll have more spare time next week and continue my research on that.

[2021-10-31 16:01] #95 closed

[2021-10-31 18:58] pirj opened #103 "Incorrect numeric enum backing datatype - varchar/text"
The problem only becomes apparent when `prepared_statements:` option is set to `false`. This is typical and [recommended by Rails when connecting via PgBouncer](https://guides.rubyonrails.org/configuring.html#configuring-a-postgresql-database).

[code]

[code]

[code]

The data actually saved in the column is `'1'`, `'2'` etc.

With `prepared_statements: true` this error doesn't happen, and it wor

[2021-10-31 18:58] pirj commented on #98
Filed https://github.com/djezzzl/database_consistency/issues/103 instead.

[2021-11-01 12:28] djezzzl commented on #100
Hey @pirj,

I think that `citext` is a good and interesting type that should be used carefully as it has some benefits and drawbacks. Currently, I don't have any ideas how we can catch when it's better to use it instead `text` right now.

The only thing we can do right now is to throw an error if an index `LOWER(citext)` was created but maybe it isn't allowed by PostgreSQL already.

Do you have an

[2021-11-01 15:06] pirj commented on #100
It feels that there needs to be two checks:
1. Check if there's a `case_sensitive: false` uniqueness validation on the model, and check if either the column type is `citext` or there's a unique index with a `LOWER()` on this column. Fail the check otherwise.
2. If there is a `LOWER()` unique index, and suggest using `citext` instead. But this kind of goes against the responsibility of consistency

[2021-11-02 13:49] mpapis commented on #98
@djezzzl please take care of it, I'm busy as usual ;)
@pirj thanks, that's another use case I haven't thought of

I would distinct at least those use cases:
- string enum in db & integer mapped enum in rails
- integer in db & string mapped enum in rails
- enum in db & string mapped enum in rails & different enums
- enum in db & validation in rails with more fields then in db enum

probably there m

[2021-11-10 11:22] ojab opened #104 "Crash on inexistant column validation"
[code]
and model
[code]
leads to crash and report a bug request:

[code]

[2021-11-10 12:42] djezzzl commented on #104
Hi @ojab,

Thank you for pointing this out!

Looking at your error: `Missing column in books for title` and the way you generated model: `rails g model book`, it seems that you don't have `title` column defined in the schema but you have a presence validation for it.

[2021-11-10 12:47] ojab commented on #104
Yep, it's completely bogus code, but we have this in one, ugh, proprietary project and got after trying to update the gem.
While we cannot do anything about it, crash is not good.

[2021-11-10 12:50] djezzzl commented on #104
I see and agree with you, we have a rescue per each check to create a file with all failures, probably, this one happens sooner.

I'll have a look and fix it this week or do you want to contribute?

[2021-11-10 12:51] ojab commented on #104
Unfotunately don't think that I would have the capacity to read the code in the coming weeks, otherwise it would be PR already :crying_cat_face:

[2021-11-10 15:51] djezzzl commented on #104
Just released 1.1.6, please try it out and say if it works fine for you.

[2021-11-10 15:51] #104 closed

[2021-11-10 15:51] djezzzl commented on #104
https://github.com/djezzzl/database_consistency/pull/105

[2021-11-23 07:29] pirj commented on #91
I'm up to send a PR with a new checker that would detect `dependent: :delete`/`dependent: :delete_all`/`dependent: :nullify` and suggest changing FKs to use `on_delete: :cascade`/`on_delete: :nullify` instead. Is this a good starting point? Should it be an `AssociationChecker` subclass?

Optional: recommend `on_delete: :restrict` instead of `dependent: :restrict_with_exception`.

https://guides.ru

[2021-11-23 19:26] djezzzl commented on #91
Please do so :+1:

I think yes. We check an association and it's option, if the `precheck` is `true` meaning it has `dependent:` option we:
- raise an error if there is no `on_delete`
- raise another error if there is `on_delete`

I can understand why we need `on_delete` vs `delete` but this one I'm not yet sure, probably it should improve the consistency as callback is avoidable. Let's have it to

[2021-12-06 13:51] ojab opened #108 "`RedundantIndexChecker` couldn't be disabled via `.database_consistency.yml`"
Test repo https://github.com/ojab/tst

There are two indices on `Company#external_id` and `.database_consistency.yml` with
[code]
but `bundle exec database_consistency` still complains.

[2021-12-08 17:25] djezzzl commented on #108
Hi @ojab,

Thank you for reaching out here!

Based on your test example, you receive:
[code]

In order to disable those, your config file should look like:
[code]

With this config, it stops failing properly.

[2021-12-08 17:28] djezzzl commented on #108
I apologize that it doesn't visible that it should be disabled in that way. I think one day we will have a better explanatory output. Feel free to contribute if you want :+1:

[2021-12-08 17:28] #108 closed

[2021-12-08 17:29] djezzzl commented on #108
I'm closing the issue for now but it it still fails for you, feel free to reopen it.

[2021-12-08 17:29] ojab commented on #108
oh, so it's index name and not column names! [Example config](https://github.com/djezzzl/database_consistency/blob/master/rails-example/.database_consistency.yml) says
[code]
so I guessed it should be column names.

[2021-12-08 17:31] djezzzl commented on #108
Sorry, `MissingUniqueIndexChecker` has different processor and base checker, it iterates over validations (those columns) not indexes. I think the very least improvement we can do for free is to provide better example configuration with comments :+1:

[2022-01-11 11:23] yld commented on #93
Any update?

[2022-01-11 14:23] djezzzl commented on #93
Hello,

I’m so sorry it’s taking so long on this one. Unfortunately, I was very
busy with something else. Now, I’m sick.

I’ll do my best to get back to it once I recover.

Вт, 11 янв. 2022 г. в 13:23, yld ***@***.***>:

[2022-01-14 12:03] uxxman opened #114 "skip ForeignKeyChecker for rails 6+ multiple databases setup"
ForeignKeyChecker should ignore when the underlying association tables belong to different databases, since a foreign key cannot be defined here.

[code]

[code]

**ForeignKeyChecker fail Dog User should have foreign key in the database**

[2022-01-15 13:24] djezzzl commented on #114
Hello @uxxman , thank you for sharing this!

Would you like to contribute and provide a fix?

[2022-01-15 18:45] djezzzl commented on #93
Hi @yld ,

Going from top to the bottom with latest version of the gem in your example:
[code]

Is correct, as you don't have index in `SecondRule` starting with `second_thing_id`.

The explain:
[code]

After adding an index it becomes correct:
[code]

[2022-01-15 18:53] djezzzl commented on #93
This:
[code]
Is wrong because your association definition was wrong:

it should be `second_subscriptions` not `subscriptions` as `Subscription` has no polymorphic `second_subscriber`
[code]

Once you finish the naming of an association, the check will work fine and disappear. Probably we could catch such issues somehow. Maybe by trying to call the association but we don't really do this, right now

[2022-01-15 18:55] djezzzl commented on #93
Same issue as above with `ThirdGroup.third_subscriptions`. Once you fix the association name, the gem work fine. BTW, with wrong/invalid name association doesn't work at all (just a reminder)

[2022-01-15 18:55] djezzzl commented on #93
Same issue as above with `SecondUser.subscriptions` as it should be `SecondUser.second_subscriptions`.

[2022-01-15 19:05] djezzzl commented on #93
[code]
This issue by the gem is correct as you need to have a proper index for starting with `third_thing_id`. Without it, the index won't be used by the planner. You can check the explain output with/-out the index.

[2022-01-15 19:05] djezzzl commented on #93
`ThirdUser.subscriptions` should be `ThirdUser.third_subscriptions`, so it's the same issue as some above.

[2022-01-15 19:13] djezzzl commented on #93
[code]

`Thing.rules` require an index starting from `thing_id` too. Otherwise, it isn't being used efficiently enough. So the gem is correct here too.

[2022-01-15 19:16] djezzzl commented on #93
Sorry for taking so long, I've investigated all of the issues you mentioned and so far gem is correct.

Please, be aware, that sometimes, PostgreSQL planners may behave differently because:
- the table wasn't yet analyzed; (`ANALYZE users;`)
- the table was analyzed and it may have the amount of the data that makes index usage irrelevant.  That's why it's better to fill the table with many rows be

[2022-01-15 19:16] #93 closed

[2022-01-15 19:40] uxxman commented on #114
@djezzzl i took a stab at it here #116

[2022-01-23 11:18] uxxman commented on #114
fixed in #116 . Closing

[2022-01-23 11:18] #114 closed

[2022-04-15 07:11] tdeo opened #118 "Idea: checker for unique index for has_one associations"
Currently there exists 2 things in `database_consistency`:
- a `MissingUniqueIndexChecker` that checks that uniqueness validations have a unique index in the DB
- a `MissingIndexChecker` that checks that an index exists for `has_one` and `has_many` associations

I think in the `has_one` case, we should enforce that there should be a unique index on exactly the columns of the associations, so that

[2022-04-25 11:44] djezzzl commented on #118
Hi @tdeo,

Thank you for using the gem and contributing to it! And sorry for me taking too long to response.

I must say that I really love your suggestion. Actually, we even had an issue recently related to that. So I'm fully up to the idea!

I think it's okay to have as many checks as needed keeping their logic and purpose easy to follow and isolated.
However, if in this case, extending `Missing

[2022-04-28 11:08] djezzzl commented on #118
Hi @tdeo,

I've released 1.1.13 with this feature: [PR](https://github.com/djezzzl/database_consistency/pull/119). For now, it only supports unscoped `has_one` associations. Please have a look and let me know if it doesn't work for you.

Also, please feel free to share more ideas, I'd be happy to add them.

I will close this issue but free to reopen it if needed.

Have a great day!

[2022-04-28 11:08] #118 closed

[2022-04-28 12:25] djezzzl commented on #118
Hey @tdeo,

Version 1.1.13 had an issue that was already fixed. Please try `1.1.14` instead.

[2022-04-29 19:36] djezzzl commented on #118
Hello @tdeo,

Glad to hear that!

Unfortunately, we can't enforce `unique` indexes for polymorphic associations that simple as when some object may have `has_one` association with polymoprhic, another may have `has_many`.

For example,
[code]

However, it is still doable to achieve but with some workarounds I plan to add later.

No worries at all. You already helped a lot with great suggestion!

B

[2022-05-27 02:27] grosser opened #123 "global ignore not working"
I followed the rails install and got it running ... there is too much, so I need to ignore 90%
so I added to `.database_consistency.yml`
[code]

... but `bundle exec database_consistency` still shows:
[code]

(individual ignores work though)

[2022-05-27 02:30] grosser opened #124 "Add option to generate todo file"
Adopting this does not work when I have to fix 100s of validations errors in the initial setup PR

[code]

[2022-05-27 02:31] grosser opened #125 "Add `All` option"
so I can do:

[code]

[2022-05-27 15:30] djezzzl commented on #123
Hi @grosser,

Thank you for reaching out! I think that you should add this key under `DatabaseConsistencyChecker:`, something like:

[code]

I'll close the issue but feel free to reopen it in case it didn't work for you.

P.S. Any suggestion how we can improve the documention is very welcome!

[2022-05-27 15:30] #123 closed

[2022-05-27 16:28] grosser commented on #123
having this in the generated file would help:
[code]

or something in the readme
or the output could say `DatabaseConsistencyCheckers:RedundantIndexChecker blah blah`

[2022-08-19 15:53] greytape opened #126 "Does the gem support multiple databases?"
Hi,

Gem looks great, and I'd love to try it out, but I'm getting the error below. This suggests that the gem is having trouble with more than one database in `database.yml`, as it is looking for a table on the primary database that is only available on the secondary database. Is this expected behaviour, as multiple databases are not supported?

(In log extract below I have changed the names of th

[2022-08-20 10:35] djezzzl commented on #126
Hello @greytape ,

Thank you for letting me know about this issue! I'll do my best to have a look as soon as possible and fix this!

Or maybe you would like to investigate and contribute with the fix?

[2022-08-22 07:27] greytape commented on #126
@djezzzl - many thanks for the quick response. I'll leave the investigation to you if that's ok, afraid I wouldn't know where to start!

[2022-09-08 10:53] djezzzl commented on #125
Hi @grosser ,

I'm sorry it took so long to implement this feature. It was done today as part of: https://github.com/djezzzl/database_consistency/pull/127.

Please have a look at released version `1.2.0`.

[2022-09-08 10:53] #125 closed

[2022-09-08 14:29] grosser commented on #125
awesome, thx!

[2022-09-08 14:31] grosser commented on #124
thx!

[2022-09-08 14:38] djezzzl commented on #124
Thank you! Please let me know if would have any more ideas! I'd be happy to do them!

[2022-09-10 12:09] djezzzl commented on #126
Hi @greytape,

I'm sorry it took me so long to fix the issue.
The issue was fixed within: https://github.com/djezzzl/database_consistency/pull/129.

Could you please try new released version 1.2.2 and confirm if everything is okay for you?
I would be happy if you share in case anything is wrong or you have some ideas.

Have a great day!

[2022-09-10 12:09] #126 closed

[2022-10-06 10:43] toydestroyer opened #131 "Auto-corrections"
Hey there 👋

I just dropped this wonderful gem into the project that I'm working on, and we have quite a few issues that need to be addressed.

I was wondering if we should have an `--auto-correct` option, similar to the [rubocop](https://docs.rubocop.org/rubocop/usage/auto_correct.html)'s one.

[code]

Auto-correction in this case is basically the creation of migration files.

What do you folks t

[2022-10-09 14:08] djezzzl commented on #131
Hi @toydestroyer,

Glad to hear that you liked the gem!

I like the idea! I can start on it soon. Please let me know if want to contribute (and how much approximately it will take for you) so we don't do the same thing twice.

[2022-10-10 00:45] toydestroyer commented on #131
@djezzzl I think I can try to come up with something next week.

Otherwise, if you want to draft the initial idea yourself I will help you implement autocorrections for the rest of the checkers.

[2022-10-10 07:41] djezzzl commented on #131
Thank you! Looking forward to see your PR!

[2022-10-20 09:52] djezzzl commented on #131
Hi @toydestroyer ,

Could you please share your progress? Maybe you can also open "draft PR" so I can see the direction we are going and maybe help/comment in advance?

[2022-10-21 02:39] toydestroyer commented on #131
Hey, @djezzzl I will show something in the next couple of days. I'm currently playing around with auto-corrections for `ForeignKeyChecker`. I will open a draft PR as soon as I have some meaningful structure.

[2022-11-05 14:34] djezzzl commented on #131
Hi @toydestroyer ,

Sorry for taking it so long for me to provide the first version.

Just keeping you posted that I've migrated messages to writers [here](https://github.com/djezzzl/database_consistency/pull/135). It was required to continue with auto-correction. Now, we can implement a new writer that will actually correct failures.

[2022-11-06 07:49] djezzzl commented on #131
Hi @toydestroyer ,

There is a first auto-fix ready! Please have a look at this PR: https://github.com/djezzzl/database_consistency/pull/136 and let me know if you would like to contribute and implement some of them.

I would be also happy if you could help me to test them.

Have a great weekend!

[2022-11-06 07:53] djezzzl commented on #131
The PR is in master but I won't release it with a single auto-fix. I would like to have at least a few. It could happen that I will provide more auto-fixes today.

[2022-11-06 12:44] djezzzl commented on #131
I have provided a few more auto-fixes. Please check version 1.3.0 and let me know how it works for you if possible.

Have a great day!

[2022-11-07 02:36] toydestroyer commented on #131
Wow! You must've had a very fun weekend 😂

Thanks a lot! I'll play around with it this week and let you know.

[2022-11-07 02:56] toydestroyer commented on #131
Bug 1:

If you have multiple foreign keys from one table to another (to the same column) you'll have a duplicate migration name.

Example:

[code]

Do you want me to open a new issue for this? I can also try to address it myself.

[2022-11-07 05:28] djezzzl commented on #131
Wow, thank you a lot!

The issue you mentioned is fixed here: https://github.com/djezzzl/database_consistency/pull/139. I've released 1.3.1 version.

[2022-11-08 17:10] christos opened #140 "UniqueIndexChecker does not infer association key from association"
In the following code, Rails can correctly infer that `validates :category, uniqueness: { scope: :post }` refers to the unique `index_categorisations_on_category_id_and_post_id` but the `UniqueIndexChecker` doesn't do that inference correctly.

[code]

I tried to follow the Rails source code for the `UniquenessValidator` to see how `UniqueIndexChecker` can be adapted to infer the key too, but I go

[2022-11-11 12:44] djezzzl commented on #140
Hi @christos,

Thank you for letting me know! Indeed, I see we have this issue. I'll fix this today and share with you the new released version.

[2022-11-11 12:46] djezzzl commented on #140
It happens here in ActiveRecord:

[code]

So they check if it's an association first:

[code]

[2022-11-11 13:38] djezzzl commented on #140
Fixed here: https://github.com/djezzzl/database_consistency/pull/141.

Released in 1.3.2. Please try it and let me know if it works fine for you. Feel free to reopen the issue!

BTW, feel free to share any ideas for the gem that could be valuable for you and your projects. Have a great day!

[2022-11-11 13:38] #140 closed

[2022-11-13 10:31] djezzzl commented on #131
Hi @toydestroyer , I've just released version 1.3.5 which has a lot of auto-fixes for most of the migrations. I didn't make any for code manipulation yet, i.e. missing validation. I think I will leave it for a while like that, please feel free to provide a PR if you want to contribute.

As there are some auto-corrections available, I think I will close the issue. That doesn't mean I will not suppo

[2022-11-13 10:31] #131 closed

[2022-11-13 11:18] toydestroyer commented on #131
Amazing, thank you so much @djezzzl!

I will be trying this in action in the coming weeks and will let you know.

[2022-11-14 10:40] christos commented on #140
@djezzzl Working great now. Thanks for the quick fix!

Will do!

[2022-11-14 11:18] djezzzl commented on #140
Thank you @christos,  for quickly validating this! Have a great time!

[2022-11-15 10:46] pirj opened #146 "ForeignKeyTypeChecker duplicates"
`ForeignKeyTypeChecker` seems to report the same problem twice (or more for e.g. polymorphic associations).

1. Duplicate

[code]

[code]

[code]

2. Multiplicate (for a polymorphic association, [`paper_trail`](https://github.com/paper-trail-gem/paper_trail/))

[code]

[code]

[code]

[2022-11-15 16:48] pirj commented on #146
Hey @djezzzl ! 👋

In the first case, it's a one-to-many.
If `ForeignKeyTypeChecker` analysed it just from one side, would this be sufficient?
[code]
The `report_id` FK is on the `Line`/`lines` table.

For polymorphic associations it's mire complicated, as some associated tables may have the same key type, and some - a bigger one.
[code]

No good ideas how to behave in this case.

I don't have a st

[2022-11-16 06:26] djezzzl commented on #89
Hi @pirj ,

I have finally a PR for this (https://github.com/djezzzl/database_consistency/pull/147) to be fixed but I tested the planner and I think we still would better have a proper (lower) index instead.

The reason is that ActiveRecord doesn't recognize `citext` and apply `lower` anyway:
[code]

[code]

And after adding a lower index:
[code]

With that said, I will abandon the PR and close th

[2022-11-16 06:26] #89 closed

[2022-11-16 07:00] pirj commented on #89
Hey @djezzzl 👋

Thanks for giving it a shot.
There's this deficiency with a redundant `lower` that needs to be fixed on the Rails side.
At this stage I don't see how `database_consistency` could handle it.

[2022-11-19 13:39] djezzzl commented on #146
Hi @pirj ,

I've just released 1.3.6 with the improvement. Could you please have a look and say if that's any better?

Feel free to reopen the issue if needed and I wish you good weekend.

[2022-11-19 13:39] #146 closed

[2022-11-20 13:06] djezzzl commented on #103
Hi @pirj,

Sorry for taking me so long to look at the issue. I've tried it myself and was able to reproduce it.

Am I right that you're suggesting to type cast values on an enum to strings?

[2022-11-20 13:23] djezzzl commented on #100
Hi @pirj ,

Sorry for taking so long time to finally come back to this.

Regarding point #1. I think we should not do that based on the conclusion here: https://github.com/djezzzl/database_consistency/issues/

About point #2. I like the suggestion. I think this should be implemented as a separate checker. Do you think we should consider only unique indexes? I believe any column that is wrapped wit

[2022-11-20 20:50] pirj commented on #100
Hey @djezzzl !

All good points.

We should check non-unique indexes, too.

According to the [latest Posrgres docs](https://www.postgresql.org/docs/current/citext.html), citext is not a panacea, and to specifically make both case-sensitive and case-insensitive queries:

I recall there are case-insensitive per-column collations in MySQL, too.

[2022-11-20 21:03] pirj commented on #103
Hi @djezzzl !

I'd suggest changing the column type to an integer/smallint.

Or [from Rails API doc](https://api.rubyonrails.org/classes/ActiveRecord/Enum.html),

[code]

I'd argue about slower DB queries for a string enum type, but in this context, I just propose not to pay attention to this statement for decision-making.

[2022-11-21 08:25] pirj commented on #146
Thank you, @djezzzl

At a glance, there might be a regression that swallows some cases, as the list of `ForeignKeyTypeChecker` offences went down from 109 entries to 7.

A random example of what went missing:
[code]

[code]

The ones with `versions` described above all collapsed to a single offence, i.e.
[code]
instead of:
[code]

Please let me know if you need more.

[2022-11-21 08:36] djezzzl commented on #146
Could you please share the before output and after? Without that, unfortunately, I can't say if that's expected or not.

Why it should be collapsed only to two cases rather than to a single one? As soon as `item_id` will be updated on `versions` on the table to `bigint`, there will be no errors at all, right? So, it's expected to have only a single output then. Could you please say if I'm missing

[2022-11-21 08:55] pirj commented on #146
One association is picked while others are hidden.
Collapsing might be fine, but.
Imagine you have two tables on the loose side of the polymorphic association, e.g. `articles` and `comments`.
`articles` are at 1M records, and are unlikely to hit the integer limit anytime soon.
`comments` are at 2'000'000'000 records, and are about to hit the limit.
Both of those tables' `id` is `bigint`, while `au

[2022-11-21 09:00] djezzzl commented on #146
And what should we do in this case? I don't think that we should be too smart on this one and anyhow analyze the persisted data amount.

What do you think?

Looking at this now, I think when we remove duplicates, we may highlight how many offenses we grouped. What do you think a good message would look like in this case?

[2022-11-21 09:15] pirj commented on #146
If it could list the offending tables that were collapsed, that would be sufficient:
[code]
Indeed, we can't have an idea of the number of production records when running `database_consistency` on a local dev machine.

[2022-11-21 09:19] djezzzl commented on #146
Could you please help me understand why you're missing `Bar`? Doesn't it also have inconsistency in types?

I like listing all the models.

BTW, have you found more missing cases?

[2022-11-21 19:17] pirj commented on #146
As in the [example above](https://github.com/djezzzl/database_consistency/issues/146#issuecomment-1315590328), one of those tables has an `integer` id, and doesn't have to be listed. My bad, in that example `bazs` has it, not `bars`.

[2022-11-22 10:00] djezzzl commented on #146
Extended output is on the way: https://github.com/djezzzl/database_consistency/pull/150.

[2022-11-23 16:19] greytape opened #153 "Trouble understanding config file syntax"
Hi,

I'm having trouble understanding the expected config syntax, and whether what I'm seeing is a bug (or more likely a problem with my setup). Can I just confirm the behaviour of the following config files?
[code]
:point_up:  this will disable all checkers for all models - is that right?
[code]
:point_up: this will disable the `UniqueIndexChecker` for all models - is that right?

Currently neith

[2022-11-23 19:17] djezzzl commented on #153
Hi @greytape,

First of all, thank you for using the gem.

The following will disable all checkers until a particular checker is enabled again.
[code]

The following will disable `UniqueIndexChecker`.
[code]

You may check the example here: https://github.com/djezzzl/database_consistency/blob/master/rails6-example/.database_consistency.yml.

In order for the config file to be loaded automatically,

[2022-11-23 19:17] #153 closed

[2022-11-23 19:18] djezzzl commented on #153
Please also share what you think about my proposal on how to avoid such issues. And basically, I would be glad for any kind of feedback or ideas for the gem.

[2022-11-24 10:50] greytape commented on #153
@djezzzl - thanks for such a speedy response. This is perfect - so glad that the functionality exists already.

While your options for validating/outputting configuration are interesting, I think in my case better documentation would have solved it. There is no mention of the use of `DatabaseConsistencyCheckers` in the `Readme` (nor the use of `All` - which I found out about through looking throug

[2022-11-24 11:06] djezzzl commented on #153
Thank you for sharing your opinion!

I wanted to reorganize the documentation this week. Would you mind please having a look at that this weekend or some what next week and sharing your thoughts?

[2022-11-25 14:17] pirj commented on #89
https://github.com/rails/rails/pull/46568 one done, one to go

[2022-11-26 08:02] djezzzl commented on #89
Wow! Well done! Unfortunately, my past experience contributing to ROR wasn't great so I didn't expect it's actually possible 😀

[2022-11-27 12:17] unikitty37 opened #155 "Validations against Devise's password field cause errors due to the column being encrypted_password"
If I set up a User model using Devise, and add validations to the password like this:

[code]

I get this error:

[code]

This is happening because the password is stored in the database as `encrypted_password` — but it's obviously not much use running the validation against the encrypted version :)

Is there a way around this apart from disabling ColumnPresenceChecker for that column? It would be

[2022-11-27 12:20] unikitty37 opened #156 ""Too many arguments for format string" warning on every failure with $VERBOSE = true"
I recently updated from Ruby 2.7 to Ruby 3.1; as a part of this, I set `$VERBOSE = true` in the development environment.

I now get a warning with every error thrown by database_consistency:

[code]

Unfortunately, that's in a fairly generic method, and warnings don't generate full stack traces, so I can't work out where the format string is coming from 😞

[2022-11-27 13:01] djezzzl commented on #103
Finally released in 1.4.10.

Sorry for taking so long to implement it! And thank you for your suggestions!

[2022-11-27 13:01] #103 closed

[2022-11-27 13:03] djezzzl commented on #156
Hi @unikitty37,

Thank you for letting me know! I will improve it as soon as possible.

[2022-11-27 13:06] djezzzl commented on #155
Hi @unikitty37,

Thank you for letting me know about the issue!

You can disable this particular check for you with the configuration. You can read about it in the wiki: https://github.com/djezzzl/database_consistency/wiki/configuration.

For you, it should be something like this:
[code]

Meanwhile, I will fix this annoying issue.

[2022-11-27 15:08] djezzzl commented on #156
Hey, I've just released 1.4.1. Could you please try and let me know if that helped?

Feel free to reopen an issue if needed.

[2022-11-27 15:08] #156 closed

[2022-11-27 15:09] djezzzl commented on #155
I've also released 1.4.1 to avoid this issue. Please try it and let me know if that helped.

Feel free to reopen the issue if needed.

Thank you a lot and have a great day!

[2022-11-27 15:09] #155 closed

[2022-11-28 14:43] djezzzl commented on #91
Hi @pirj,

I have finally released this in 1.5.0. Please try it out and let me know if it works for you.

Thank you for your suggestions! Keep it going, please!

[2022-11-28 14:43] #91 closed

[2022-11-28 15:25] unikitty37 commented on #156
Thanks — that's fixed it! 👍

[2022-11-28 15:26] unikitty37 commented on #155
Thanks — that's fixed it! 👍

[2022-11-29 07:25] toydestroyer opened #160 "`EnumTypeChecker` is complaining about `enum` column"
Hey there! Me again.

I've identified an issue with the new `EnumTypeChecker`. We store our enums in `enum` type columns in postgres. We are using [this gem](https://github.com/bibendi/activerecord-postgres_enum) to do so, but it is also available [in Rails 7 natively](https://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/PostgreSQLAdapter.html#method-i-create_enum).

Anyway, `EnumTy

[2022-11-29 09:19] djezzzl commented on #160
Hi @toydestroyer ,

Thank you for sharing this! Indeed I agree this should be improved!

I will fix it ASAP.

[2022-11-29 10:33] djezzzl commented on #160
The issue was released in 1.5.1. Please try it out and let me know if it still stays.

[2022-11-29 10:33] #160 closed

[2022-11-29 19:51] la-magra opened #162 "Misleading commandline help message"
[code]

[code]

[code]

probably due to https://github.com/djezzzl/database_consistency/blob/17725a58f931ff80d6c801cd50e505177cf463d2/bin/database_consistency#L42 first parameter having two extra characters.

[2022-11-29 20:35] toydestroyer commented on #160
Verified 👍

Thanks for your amazing work @djezzzl! I hope I'll be able to finally contribute at some point 😂

What do you think about this? Shall I open another issue for discussion?

[2022-11-30 02:12] toydestroyer opened #163 "`ColumnPresenceChecker` and polymorphic association"
Hi hi!

Looks like I found another bug.

Let's say you have a model with a polymorphic association and a presence validation:
[code]

And if you try to autofix this association — only `imageable_id` column would be made non-nullable. But I think it should be both `*_id` and `*_type` columns should be changed.

[2022-11-30 02:24] toydestroyer opened #164 "`ColumnPresenceChecker`, `belongs_to `associations, and `optional`, `required` options"
👋

`belongs_to` association might have `optional: false` or `required: true` option.

I'm not really sure that it does exactly the same thing as the presence validator, but I guess DatabaseConsistency should report that such association missing a `NOT NULL` constraint.

What do you think?

P. S. [`belongs_to` associations are required by default from Rails 5](https://www.bigbinary.com/blog/rails-5

[2022-11-30 07:55] pirj commented on #89
https://github.com/rails/rails/pull/46592

[2022-11-30 11:21] djezzzl commented on #89
Wow, you do the magic! Thank you for improving Rails experience for all of us!

[2022-11-30 12:17] djezzzl commented on #162
Hi @la-magra,

Thank you for using the gem and reporting the issue! Here is the fix: https://github.com/djezzzl/database_consistency/pull/165

It will be released by the end of today.

[2022-11-30 12:17] #162 closed

[2022-11-30 14:06] djezzzl commented on #164
I agree with you and it seems it works fine for me.

I've checked rails6-example folder and I see this:
[code]

I also see this spec:

[code]

Please let me know if it doesn't work for you, I would gladly fix it. Feel free to reopen an issue.

[2022-11-30 14:06] #164 closed

[2022-11-30 14:25] djezzzl commented on #162
Released in 1.5.2. Thank you again! Have a great day!

[2022-11-30 17:14] la-magra commented on #162
Thank you, I wish you the same.

[2022-11-30 21:21] toydestroyer commented on #164
I could swear it wasn't working yesterday on my machine 😂
Sorry about this! I will be more careful next time before opening an issue.